# local stuff
TODO
doc
tmp
palettes
conf/*
rinks/*
pubq/*
scripts/*
sql/models/*
sql/palette/*
*.swp
.DS_Store
scripts/*
v/*
Archive
__pycache__/*
*/__pycache__/*
cell/shape/__pycache__/*
t/__init__.py
t/zz/*
