# local stuff
TODO
doc
rinks/*
pubq/*
sql/models/*
sql/palette/*
*.swp
.DS_Store
Archive
__pycache__/*
t/__pycache__/*
t/__init__.py
cell/__pycache__/*
model/__pycache__/*
block/__pycache__/*
cell/shape/__pycache__/*
scripts/*
v/*
