# local stuff
*.swp
.DS_Store
TODO
doc/solutions
tmp
palettes
Archive
conf/*
pubq/*
scripts/*
sql/models/*
sql/palette/*
v/*
t/__init__.py
__pycache__/*
*/__pycache__/*
cell/shape/__pycache__/*
rc.sh
